

.indexbookbox_copy {
float: left; 
position: relative; 
left: 0px;
top: 20px;
color: black;
width: 450px;
font-family: Times;
font-size: 18px;
text-align: center;
}

.indexbookbox_copy span{
	color: red;
}

.index_bookbox h3{
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	background: url('../images/header_ind.JMlatestbook.gif') no-repeat;
	text-indent: -3000px;
	width: 467px;
	height: 50px;
	margin: 0;
	padding: 0;
}

.index_bookbox {
	position: relative;
	top: 20px;
	left: 0px;	
	float: left;
	width: 467px;
	background: #fff;
	border: 1px solid #fee977;
	margin: 0;
	padding: 0;
	
}

.testm_copy {
	width: 410px; font-family: arial; font-size: 12px; text-align: left; float: left; padding: 20px;
}

.indordernow_btn a {
	display: block;
		background: url('../images/index_ordernow_btn.gif') no-repeat;
	 text-indent: -3000px;
	width: 153px;
	height: 35px;
 background-position: 0px 0px;	
	outline: none;
 text-indent: -3000px;
}

.indordernow_btn a:hover {
 background-position: 0px -34px;
	}
	
	
	.index_upcomingevents {
		position: relative;
		top: 20px;
		left: 10px;	
		float: left;
		width: 467px;
		background: #fff;
		border: 1px solid #fee977;
	}
	
	.index_askjudge {
		position: relative;
		top: 50px;
		left: 5px;	
		float: left;
		width: 488px;


	}
	
	.about_content {
		background: white;
		width: 927px;
		position: relative;
		top: 10px;
		left: 15px;	
		float: left;
		padding-bottom: 10px;
	}
	
	.contact_content {
		background: white;
		width: 980px;
		position: relative;
		top: 10px;
		left: 15px;	
		float: left;
		padding-bottom: 10px;
	}
	
	.about_content .copy {
		width: 900px;
		position: relative;
		top: 10px;
		left: 15px;	
		float: left;
		color: black;
		line-height: 16px;
	}
	
	.contact_content {
		background: white;
		width: 950px;
		position: relative;
		height: 425px;
		top: 10px;
		left: 15px;	
		float: left;
		padding-bottom: 10px;
	}
	
	.contact_content .copy {
		width: 950px;
		position: relative;
		top: 10px;
		left: 10px;	
		float: left;
		color: black;
		line-height: 16px;
	}
	
	.contactinfo{ 
		width: 548px;
		position: relative;
		top: 10px;
		left:5px;	
		float: left;
	}
	
	.events_inc {
			position: relative;
			top: 12px;
			left: 0px;	
			float: left;
			width: 352px;
	}
	
	.events_sidebox {
		background: #fffefc;
		border: 2px solid #bd5c39;
		width: 700px;
		padding-bottom: 20px;
		display: block;
		float: left;
		
	}
	
	.quicklinks_sidebox {
		background: #fffefc;
		border: 2px solid #bd5c39;
		width: 200px;
		display: block;
		float: left;
			position: relative;
			top: 0px;
			left: 0px;
		
	}
	
	.maineventsbox {
		display: block;
		width: 700px;
		background: #fff8f8;
		border: 1px solid #ffe163;
		padding: 10px;
		float: left;
	}
	
	.pasteventsbox {
		display: block;
		width: 700px;
		background: #fff8f8;
		border: 1px solid #ffe163;
		padding: 10px;
		float: left;
	}
	
	.Booksignings_sidebox {
		background: #fffefc;
		border: 2px solid #bd5c39;
		width: 339px;
		display: block;
		float: left;
			position: relative;
			top: 0px;
			left: 0px;
		
	}
	
	
	.articles {
		display: block;
		background: #fff;
		border: 1px solid #ffe163;
		width: 467px;
			float: left;
				position: relative;
				top: 40px;
				left: 11px;
				height: 30px;
				vertical-align: middle;
	}